<div id="main_container">
    <div id="player_container">
        @for (card of gameService.playerCards(); track $index){
            <app-card 
            (click) = "gameService.playCard(card)"
            [card]="card"
            [isFaceUp]="true"
            [class.playable] = 'card.isPlayable'
            />
        }
    </div>

    <div id="computer_container">
        @for (card of gameService.compCards(); track $index){
            <app-card 
            [card]="card"
            [isFaceUp]="false"
            />
        }
    </div>
    @if (gameService.isWild == true) {
        <app-colorpicker (click) = "gameService.changeWildColor($event)" />
    }


    <div id="deck" >
        <app-card (click) = "gameService.drawCard('player')"[isFaceUp]="false"/>
    </div>

    <div id="discard_top">
        @for (card of gameService.discardTop(); track $index) {
            <app-card
            [card]="card"
            [isFaceUp]="true"
            />
        }
    </div>
</div>

