<div class="main_container">
  @if (gameService.players.length === 2) {
  <div id="game-grid">
    <div class="player bottom">
      @for (card of gameService.players[0].hand; track card.id) {
      <app-card
        [card]="card"
        (click)="gameService.playCard(card, gameService.players[0].id)"
        [isFaceUp]="true"
        [class.playable]="card.isPlayable"
      />
      }
    </div>

    <div class="discard">
      @for (card of gameService.discardTop(); track card.id) {
      <app-card [card]="card" ... />
      }
    </div>

    <div class="player top">
      @for (card of gameService.players[1].hand; track card.id) {
      <app-card
        [card]="card"
        (click)="gameService.playCard(card, gameService.players[0].id)"
        [isFaceUp]="true"
        [class.playable]="card.isPlayable"
      />
      }
    </div>
  </div>

  }@else if (gameService.players.length === 3) {
  <div id="game-grid">
    <div class="player bottom">
      @for (card of gameService.players[0].hand; track card.id) {
      <app-card [card]="card" ... />
      }
    </div>
    <div class="player left">
      @for (card of gameService.players[1].hand; track card.id) {
      <app-card [card]="card" ... />
      }
    </div>

    <div class="discard">
      @for (card of gameService.discardTop(); track card.id) {
      <app-card [card]="card" ... />
      }
    </div>

    <div class="player top">
      @for (card of gameService.players[2].hand; track card.id) {
      <app-card [card]="card" ... />
      }
    </div>
  </div>
  }@else {
  <div id="game-grid">
    <div class="player bottom">
      @for (card of gameService.players[0].hand; track card.id) {
      <app-card [card]="card" ... />
      }
    </div>
    <div class="player left">
      @for (card of gameService.players[1].hand; track card.id) {
      <app-card [card]="card" ... />
      }
    </div>

    <div class="discard">
      @for (card of gameService.discardTop(); track card.id) {
      <app-card [card]="card" ... />
      }
    </div>

    <div class="player top">
      @for (card of gameService.players[2].hand; track card.id) {
      <app-card [card]="card" ... />
      }
    </div>

    <div class="player eight">
      @for (card of gameService.players[3].hand; track card.id) {
      <app-card [card]="card" ... />
      }
    </div>
  </div>
  }
</div>
